@use './variable.scss' as *;

.collection_page_main_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
   > .collection_page_collection_container{
       > .collection_page_search_sort_container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 1rem;
            margin-bottom: 1rem;

            > .search_container{
                display: flex;
                align-items: center;
                border: 2px solid $primaryColor;
                border-radius: 14px;
                padding: 5px;
                > input{

                    &:active,
                    &:focus{
                        outline: none;
                    }
                }
                > input, > button{
                    background: transparent;
                    border: none;
                }
                > button > svg {
                    font-size: 1.5rem;
                    color: $primaryColor;
                }

            }
            > .sort_container{
                > select{
                    padding: 10px;
                    font-size: 1rem;
                    border-radius: 14px;
                }
            }
        }
       > .collection_page_product_container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        > .collection_pagination_container{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}


@media screen and (min-width:767px) {
    .collection_page_main_container{
        display: grid;
        grid-template-columns: 200px 1fr;
        gap: 3rem;
        
        > .collection_page_collection_container{
           > .collection_page_product_container{
                display: grid;
                grid-template-columns: 1fr;
            }
        }
    }
}

@media screen and (min-width:900px) {
    .collection_page_main_container{
        > .collection_page_collection_container{
            > .collection_page_product_container{
                display: grid;
                grid-template-columns: repeat(2,1fr);
            }
        }
    }
}

@media screen and (min-width:1100px) {
    .collection_page_main_container{
        > .collection_page_collection_container{
            > .collection_page_product_container{
                display: grid;
                grid-template-columns: repeat(3,1fr);
            }
        }
    }
}